[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# server
fastapi = {extras = ["all"], version = "==0.78.*"}
# sql
alembic = "==1.8.*"
asyncpg = "==0.25.*"
sqlalchemy = {extras = ["asyncio"], version = "==1.4.*"}
# data
pandas = "==1.4.*"
numpy = "==1.23.*"
pydantic = "==1.9.*"
# utils
click = "==8.1.*"
# lint
black = "==22.3.*"
isort = "==5.10.*"
flake8 = "==4.0.*"

[requires]
python_version = "3.10"

[scripts]
main = "python main.py"
load = "python main.py load"
start-dev = "python -Wd main.py"
# migrations
makemigration = "alembic revision --autogenerate -m"
migrate = "alembic upgrade head"
downgrade = "alembic downgrade"